# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# (Potentially large) saved files
*.pkl

# images
experiments/img/
# pixi environments
.pixi/*
!.pixi/config.toml

# model checkpoints
experiments/checkpoints/